@import url("https://fonts.cdnfonts.com/css/mountains-of-christmas");

body {
  margin: 0;
  font-family: "Mountains of Christmas", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #c7375f;
  color: #f0f4f7;
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.countdownDisplay {
  font-size: 100px;
  margin: 0;
}

#christmasCountdown {
  font-size: 75px;
  font-weight: bold;
}

.countdownText {
  font-size: 50px;
  font-weight: bold;
}

.christmas-tree {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}
.jingleBells-image {
  display: flex;
  position: relative;
  width: 125px;
  height: 60px;
}

.jingleBells-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 800px;
  height: 100px;
  margin: 0 auto;
}

.santa-container {
  display: flex;
  justify-content: start;
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.reindeer-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.christmas-tree-container {
  display: flex;
  justify-content: center;
  position: relative;
  left:208px;
  max-width: 870px;
  max-height: 200px;
}

.animate__animated.animate__fadeOutRightBig {
  --animate-duration: 10s;
}

.animate__animated.animate__wobble {
  --animate-duration: 2s;
}

button {
  font-family: 'Inter', sans-serif;
  background-color: #BDD59B;
  border: 0;
  padding:5px;
  border-radius: 5px;
  font-size: 18px;
 margin:10px 5px 10px 5px;
}
button:hover {
  background-color: #FF9492;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  html,
  body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
  }

  .container {
    max-width: 260px;
    height: 85%;
    margin: 10px auto;
    border-radius: 10px;
  }

  .christmas-tree{
    width: 100px;
    height: 100px;
    left:0px;
  }
  .christmas-tree-container {
    margin: 0px 80px 0px 80px;
    width: 25px;
    height: 25px;
    left: 40px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .jingleBells-container {
    display: flex;
    justify-content: start;
    position: relative;
    width: 800px;
    height: 100px;
    margin: 0 auto;
  }

  .reindeer-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 800px;
    height: 50px;
    margin: 0 auto;
  }

  .countdownText {
    font-size: 25px;
    margin: 0;
  }

  #christmasCountdown {
    font-size: 35px;
  }
.jukeBoxContainer{
  max-width: 480px;
  margin: 0 auto;
}
  #player {
    background-color: #DEEAEE;
    display:hidden;
  }
  .button-container {
    display: flex-column;
   
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding:10px 0px 10px 0px;
    max-width: 320px;
  }
  
  button {
      font-family: 'Inter', sans-serif;
      background-color: #BDD59B;
      border: 0;
      border-radius: 5px;
      font-size: 12px;
     margin:10px 0px 10px 0px;
  }
  
  button:hover {
      background-color: #FF9492;
      cursor: pointer;
  }
  
  .songs {
      display: flex;
      flex-direction: flex-start;
      row-gap: 10px;
      margin-top: 10px;
  }
  .player-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100px;
  }
}
